test_time_training_user_observation_callback:
  module: src.callbacks.instance.test_time_training_user_observation_callback.TestTimeTrainingUserObservationCallback
  parameters:
    batch_size: 1
    sft_data_dir: "outputs/{TIMESTAMP}/world_model_sft"
    loss_log_path: "outputs/{TIMESTAMP}/world_model_loss.csv"
    lora_r: 16
    lora_alpha: 32
    lora_dropout: 0.1
    lora_target_modules: ["q_proj", "v_proj", "o_proj", "gate_proj", "up_proj", "down_proj"]
    learning_rate: 0.00001
    num_train_epochs: 1
    per_device_train_batch_size: 1
    gradient_accumulation_steps: 1
    max_seq_length: 3060
    learn_from_user_turn: 3
    collect_from_session_rank: 1
